.xml-node-list .xml-node {
  position: relative;
  white-space: nowrap;
  list-style-type: none;
}
.xml-node-list .xml-node.has-children {
  cursor: pointer;
}
.xml-node-list .xml-node.has-children::before {
  position: absolute;
  content: '\e034';
  font-family: 'Icons';
  left: -1.5em;
  font-size: 1em;
}
.xml-node-list .xml-node.has-children.collapsed::before {
  transform: rotate(-90deg);
}
.xml-node-list .xml-node.has-children.collapsed ul {
  display: none;
}
.xml-node-list .xml-node.selected {
  background-color: orange;
  --xml-node-color: yellow;
  --xml-node-value-color: #000000;
  --xml-attribute-name-color: forestgreen;
  --xml-attribute-value-color: darkred;
}
.xml-node-list .xml-node span {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}
.xml-node-list .xml-node .xml-node-open-start {
  color: var(--xml-node-color);
}
.xml-node-list .xml-node .xml-node-name {
  color: var(--xml-node-color);
}
.xml-node-list .xml-node .xml-node-attribute-name {
  color: var(--xml-attribute-name-color);
}
.xml-node-list .xml-node .xml-node-attribute-symbol {
  color: var(--xml-attribute-name-color);
}
.xml-node-list .xml-node .xml-node-attribute-quote {
  color: var(--xml-attribute-value-color);
}
.xml-node-list .xml-node .xml-node-attribute-value {
  color: var(--xml-attribute-value-color);
}
.xml-node-list .xml-node .xml-node-open-end {
  color: var(--xml-node-color);
}
.xml-node-list .xml-node .xml-node-value {
  color: var(--xml-node-value-color);
}
.xml-node-list .xml-node .xml-node-close-start {
  color: var(--xml-node-color);
}
.xml-node-list .xml-node .xml-node-close-symbol {
  color: var(--xml-node-color);
}
.xml-node-list .xml-node .xml-node-close-end {
  color: var(--xml-node-color);
}