@page "/"
<PageTitle>Home - MtconnectCore by True Analytics Manufacturing Solutions</PageTitle>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="/TAMS-Icon-Blue_x256.png" alt="MtconnectCore documentation">
                <div class="card-body">
                    <h5 class="card-title">View Docs</h5>
                    <p class="card-text">Get started with <code>MtconnectCore</code> with this documentation.</p>
                    <a href="/getting-started/introduction" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="/TAMS-Icon-Blue_x256.png" alt="MtconnectCore documentation">
                <div class="card-body">
                    <h5 class="card-title">Validate</h5>
                    <p class="card-text">Use our validation tool to safely check your MTConnect&reg; Response Document(s).</p>
                    <a href="/tools/validator" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="/images/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="GitHub repository">
                <div class="card-body">
                    <h5 class="card-title">View Source</h5>
                    <p class="card-text">View the source code on GitHub.</p>
                    <a href="https://github.com/TrueAnalyticsSolutions/MtconnectCore" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="/images/MTConnect/2018_MTConnect_R_MBDG.png" alt="MTConnect website">
                <div class="card-body">
                    <h5 class="card-title">What's MTConnect&reg;</h5>
                    <p class="card-text">Learn more about MTConnect&reg; by visiting the official website.</p>
                    <a href="https://www.mtconnect.org/" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
