@page "/"

<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/TAMS-Icon-Blue_x256.png" alt="MtconnectCore documentation">
            <div class="card-body">
                <h5 class="card-title">View Docs</h5>
                <p class="card-text">Get started with <code>MtconnectCore</code> with this documentation.</p>
                <a href="/getting-started/introduction" class="btn btn-primary">Get Started</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png" alt="GitHub repository">
            <div class="card-body">
                <h5 class="card-title">View Source</h5>
                <p class="card-text">View the source code on GitHub.</p>
                <a href="https://github.com/TrueAnalyticsSolutions/MtconnectCore" class="btn btn-primary">Go</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/MTConnect/2018_MTConnect_R_MBDG.png" alt="MTConnect website">
            <div class="card-body">
                <h5 class="card-title">What's MTConnect&reg;</h5>
                <p class="card-text">Learn more about MTConnect&reg; by visiting the official website.</p>
                <a href="https://www.mtconnect.org/" class="btn btn-primary">Go</a>
            </div>
        </div>
    </div>
</div>
