@page "/tools/audit";

<h3>Mtconnect&reg; Agent Audit</h3>

<p>True Analytics Manufacturing Solutions has created a console application that can be downloaded and executed locally that leverages the <code>MtconnectAgentService.Audit</code> method in the <code>MtconnectCore</code> library. Visit the <a href="https://github.com/TrueAnalyticsSolutions/MtconnectAgentAudit" target="_blank">MtconnectAgentAudit</a> project site for more information.</p>

<p>Go to the <a href="https://github.com/TrueAnalyticsSolutions/MtconnectAgentAudit/releases" target="_blank">Releases</a> page on the <strong>MtconnectAgentAudit</strong> project site to download the executable.</p>
